/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 180px;
}

.text-header {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    gap: 15px;
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

/* CONTENT-1 */
.content1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 180px;

}

.maintext {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.subtext {
    color: white;
}

img {
    width:  600px;
    height: 430px;
}

button {
    color: white;
    background-color: #3882f6;
    padding: 5px 15px;
}

/* CONTENT-2 */
.content2 {
    text-align: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 120px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 22px;
}

.placeholder {
    display: flex;
    justify-content: space-evenly;
}

.box-alignment {
    text-align: center;
}

.curved-boxes {
    height: 20vh;
    width: 12vw;
    margin: 0;
    border: solid lightskyblue 5px;
    border-radius: 25px;
}

.descriptions {
    font-size: 20px;
}

/* CONTENT-3 */
.content3 {
    background-color: #e5e7eb;
    padding: 70px 180px;
}

.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.remarks {
    display: flex;
    justify-content: right;
    padding: 0px 180px;

}

.author {
    font-weight: 900;
}

/* CONTENT-4 */
.content4 {
    padding: 100px 180px;    
}

.container {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    padding: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.right-button {
    display: flex;
    border: 1px solid white;
    margin-left: 500px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 180px;
    background-color: #1f2937;
    color: #f9faf8;
}
